<p><strong>Título del chiste:<br><br>
</strong> {{incidencia.titulo}}</p>
<hr>
<p><strong>Autor:<br><br>
</strong> {{incidencia.autor}}</p> 
<hr>
<p><strong>Tipo:<br><br>
</strong> {{incidencia.tipo}}</p> 
<hr>
<strong>Chiste:<br><br>
</strong> <p>{{incidencia.descripcion}}</p>
<hr>
<div class="capa-boton">
	<button class="btn btn-success" ng-click="modificar()"><i class="glyphicon glyphicon-edit"></i> Editar</button>
	<button class="btn btn-success" ng-click="eliminar()"><i class="glyphicon glyphicon-remove-sign"></i> Eliminar</button>
</div>
</font>